@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    /* border: 1px solid salmon; */
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #F9FAFB;
}

.header {
    background-color: #1F2937;
    color: #F9FAFB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.content.nav {
    flex-direction: row;
    padding: 16px 0 16px 0;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    color: #e5e7eb;
    font-size: 18px;
}

.content.header {
    padding: 96px 0 96px 0;
    flex-direction: row;
}
