@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #F9FAFB;
}

button {
    color: #F9FAFB;
    background-color: #3B82F6;
    font-weight: 700;
    font-size: 15px;
    border: 0;
    height: 40px;
    border-radius: 8px;
    padding: 8px 32px 8px 32px;
}

.subtext {
    color: #4B5563;
    font-size: 18px;
    margin: 16px 0 16px 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
}

.random-information,
.quote,
.call-to-action {
    display: flex;
    justify-content: center;
    padding: 96px 0 96px 0;
}

/* header */
.header {
    background-color: #1F2937;
    color: #F9FAFB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content.nav {
    flex-direction: row;
    padding: 16px 0 16px 0;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

.subtext.header {
    color: #e5e7eb;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    color: #e5e7eb;
    font-size: 18px;
}

.content.header {
    padding: 96px 0 96px 0;
    flex-direction: row;
    gap: 32px;
}

.header-text-container {
    width: 50%;
}

.placeholder-image {
    display: flex;
    background-color: #6D747D;
    flex: 1 1 auto;
    height: 200px;
    justify-content: center;
    align-items: center;
}

/* random info */
.random-information {}

.title-information {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.image-grid {
    display: flex;
    flex-direction: row;
}

/* quote */
.quote {
    background-color: #e5e7eb;
}

.quote-text,
.quote-author {
    color: #1F2937;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    margin-left: 30px;
}

.quote-author {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

/* call to action */
.in-card-button {
    flex: 0 0 auto;
    border: 2px solid #F9FAFB;
}

.call-to-action-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 48px 96px 48px 96px;
    background-color: #3B82F6;
    color: #e5e7eb;
}

.call-to-action-card h1 {
    font-size: 20px;
    font-weight: 800;
}

.call-to-action-card h1,
.call-to-action-card p {
    padding: 0;
    margin: 0;
}

/* footer */
.footer {
    display: flex;
    background-color: #1F2937;
    color: #F9FAFB;
    padding: 40px;
    text-align: center;
    justify-content: center;
}